doctype html
html(lang=fr)
    head
        meta(harset='utf8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content=description)
        meta(name='author', content=author)
        title= title + ' // vaga.io'
        link(rel='alternate', type='application/rss+xml', href=url + '/rss')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans|Quicksand')
        link(rel='stylesheet', href='/css/all.min.css')
        script(src='/js/analytics.js')
    body
        header.header
            a.me(href='/')
            h1 vaga.io
            h2 Fabien Casters
            p Développeur à l'écoute des nouvelles technologies et ouvert à tous projets innovants. Etudiant à Epitech Nancy.
            p
                a(href='https://github.com/Vagaweb')
                    img(src='/icon/github.png')
                a(href='https://plus.google.com/118443553174645894727')
                    img(src='/icon/google+.png')
                a(href='https://twitter.com/Vagaweb')
                    img(src='/icon/twitter.png')
                a(href='https://www.linkedin.com/profile/view?id=260005135')
                    img(src='/icon/linkedin.png')
        main.main
            block content
